<section id="Movie">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="form-wrap">
                    <!-- Movie Data Submit form-->
                    <h2>Add Movie</h2>
                    <form [formGroup]="formMovie" (ngSubmit)="addMovie()" novalidate>
                        <div class="form-group">
                            <label> Image URL </label>
                            <input type="text" class="form-control" [(ngModel)]="currentMovie.imageUrl" formControlName="imageUrl" name="imageUrl" placeholder="Image URL e.g https://upload.wikimedia.org/wikipedia/en/0/04/Tubelight_Poster.jpg">
                            <!-- Field Validation-->
                            <div *ngIf="formMovie.controls['imageUrl'].errors && (formMovie.controls['imageUrl'].dirty || formMovie.controls['imageUrl'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!formMovie.controls['imageUrl'].hasError('required')">
                                    Image Url Required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Movie Name </label>
                            <input type="text" class="form-control" name="name" formControlName="name" [(ngModel)]="currentMovie.name" placeholder="Movie Name">
                            <!-- Field Validation-->
                            <div *ngIf="formMovie.controls['name'].errors && (formMovie.controls['name'].dirty || formMovie.controls['name'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!formMovie.controls['name'].hasError('required')">
                                    Name Required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Movie Description </label>
                            <input type="text" class="form-control" name="description" formControlName="description" [(ngModel)]="currentMovie.description"
                            placeholder="Moview Description" required>
                            <!-- Field Validation-->
                            <div *ngIf="formMovie.controls['description'].errors && (formMovie.controls['description'].dirty || formMovie.controls['description'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!formMovie.controls['description'].hasError('required')">
                                    Description Required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Rating </label>
                            <select class="form-control" name="rating" formControlName="rating" [(ngModel)]="currentMovie.movieRatings" required>
                                <option [value]="rating" [disabled]="true">Select Option</option>
                                <option *ngFor = "let rating of movieRatings" [ngValue]="rating.title">
                                    {{rating.title}}
                                </option>
                            </select>
                            <!-- Field Validation-->
                            <div *ngIf="formMovie.controls['rating'].errors && (formMovie.controls['rating'].dirty || formMovie.controls['rating'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!formMovie.controls['rating'].hasError('required')">
                                    Rating Required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Release Date </label>
                            <input type="date" class="form-control" name="releaseDate" formControlName="releaseDate" [(ngModel)]="currentMovie.releaseDate" placeholder="dd/mm/yyyy" required>
                            <!-- Field Validation-->
                            <div *ngIf="formMovie.controls['releaseDate'].errors && (formMovie.controls['releaseDate'].dirty || formMovie.controls['releaseDate'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!formMovie.controls['releaseDate'].hasError('required')">
                                    Date Required
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Add" [disabled]="formMovie.invalid">
                    </form>
                </div>
            </div>
        </div>
        <!-- User Submission form -->
    </div>
</section>
