<section id="Movie">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <!-- Show Movie Details-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Movie Details Page</h3>
                    </div><!-- Panel Header-->
                    <div class="panel-body">
                        <div> <b>Movie ID:</b><br/> {{ detailsMovie.id }} </div> <br>
                        <div> <b>Movie Poster:</b><br/> <img [src]="detailsMovie.imageUrl" [alt]="detailsMovie.name" width="75" /></div> <br>
                        <div> <b>Movie Name:</b><br/> {{ detailsMovie.name }}</div> <br>
                        <div> <b>Movie Description:</b><br/> {{ detailsMovie.description}}</div> <br>
                        <div> <b>Movie Rating:</b><br/><div class="rating"> {{ detailsMovie.rating }}</div></div> <br>
                    </div><!-- Panel body-->
                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" (click)="goBack()">Go Back</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Movie Details -->
    </div>
</section>