<section id="Movie">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <!-- Show Movie list when it has records-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Movie List</h3>
                    </div><!-- Panel Header-->
                    <div class="panel-body">
                        <table *ngIf="listOfMovies.length > 0" class="table table-striped table-bordered ">
                            <tr>
                                <td colspan="7"> <input type="text" name="searchMovie" [(ngModel)]="searchMovie" class="form-control" placeholder=" Search Movie"></td>
                            </tr>
                            <tr>
                                <th> Index</th>
                                <th> Movie Poster</th>
                                <th> Movie Name</th>
                                <th> Movie Description</th>
                                <th> Rating</th>
                                <th> Release Date</th>
                                <th> Action</th>
                            </tr>
                            <!-- Looping through Movie list-->
                            <tr *ngFor="let movie of (listOfMovies | searchBy : searchMovie); let i=index;">
                                <td>{{movie.id}}</td>
                                <td><img [src]="movie.imageUrl" [alt]="movie.name" width="75" /></td>
                                <td>{{movie.name | capitalise}}</td>
                                <!--Movie name in capitalise format-->
                                <td>{{movie.description | capitalise}}</td>
                                <!--Movie description in capitalise format-->
                                <td hoverOverElement class="rating">{{movie.rating}}</td>
                                <!--Movie description in uppercase-->
                                <td>{{movie.releaseDate | date :'shortDate'}}</td>
                                <!-- Formating date using pipes -->
                                <td><input type="button" class="btn btn-success" [routerLink]="['/DetailsMovie', movie.id]" value="View Details"></td>
                                <!-- Edit detiails-->
                            </tr>
                        </table>
                    </div><!-- Panel Body-->
                </div>
            </div>
        </div>
        <!-- Movie List -->
    </div>
</section>